body{
  background: #e3e3e3;
}
blockquote{
  border-style: solid;
  padding: 10px;10px;10px;10px;
  text-align: center;
  border-color: white;
  overflow: hidden;
}
.centered{
  width: 500px;
margin:0 auto;
}
#wrapper{
  min-width: 500px;
  width :80%;
  margin: auto;
  background: Yellow;
}
#content{
  background: indigo;
  float: left;
  width: 70%  ;
}
aside{
  background: red;
  float: left;
  width: 30%;
}
aside ul{
  list-style: none;
  padding-left: 0;
}
#navigationList li{
  display: inline;
  list-style: none;
  padding-left: 10px;
}
#navigationList a{
  text-decoration: none;
}
#navigationList a:hover{
  text-decoration: underline;
  cursor: grabbing;
  color: black;
}
