body{
  background-image: url("../img/site_background.jpg");
  background-repeat: repeat-y;
}
.logo_container{
  width: 100%;
}
#navigation_menu{
  position: relative;
  top : 10px;
  right :5px;
  padding: 0px;
  display: block;
  width: 100%;
  text-align: right;
  background: #000813;
  background: -webkit-linear-gradient(-60deg, #0535A7, #000813);
  background: -o-linear-gradient(-60deg, #0535A7, #000813);
  background: -moz-linear-gradient(-60deg, #0535A7, #000813);
  background: linear-gradient(-60deg, #0535A7, #000813);
}
nav a , footer li a{
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-family: sans-serif;
  color: white;
}
nav a:hover{
  text-decoration: none;
  color: #80e1ff;
}
nav a:after{
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
}
nav a:hover:after{
  width: 100%;
  background: red;
  color: blue;
  transition: 0.5s ease;
  background-color .5s ease;
}
.main_content{
  position: relative;
  top : 6px;
  right :0px;
  padding: 0px;
  word-wrap: break-word;
  margin: 12px 10px;
  background-color: white;
}
section
{
  position: relative;
  margin: 10px 10px;
  padding: 10px 10px;
  transition: 0.5s ease;
}
p,section a header , section a h1 , section a h2 , section header h2{
  margin: 5px 5px;
  align-items: center;
  line-height: 150%;
  letter-spacing: 150%;
}
.playerTitle
{
  position: relative;
  margin: 5px 5px;
  color: white;
}
.content_img{
  width: 100%;
}
div header h1,div p{
  margin : 15px 10px;
  line-height: 150%;
  letter-spacing: 150%;
}
section a p {
  margin: 10px 10px;
}
section a{
  text-decoration: none;
}
section:hover{
  background: darkblue;
  color: white;
  transition: 0.5s ease;
}
section:hover a header,section:hover a p ,section:hover a h1 , section:hover a h2{
  color: white;
}
.content_img{
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  object-fit: fill;
}
section a:visited /* to avoid colour change of section contents */
{
  color: darkblue;
  text-decoration: none;
}

.animatedImage{
  margin : auto;
  align-items: center;
}

#hero_text{
  z-index:100;
  position:absolute;
  color:white;
  font-size:24px;
  font-weight:bold;
  left:20%;
  top:560px;
  margin-right: auto;
  margin-bottom: : auto;
  align-items: center;
  font-family: "Precious";
  font-size: 50px;
  color: darkblue;
  text-shadow: 20px 10px 10px black;
  -webkit-animation : fadeIn 4s infinite;
  -webkit-animation-direction : alternate;
  animation : fadeIn 4s infinite;
  animation-direction : alternate;
}

@font-face {
  font-family: "Precious";
  src: url("../fonts/Precious.ttf");
}

@keyframes fadeIn {
  0%{opacity: 0;}
  25%{opacity: 0.25;}
  50%{opacity: 0.5;}
  75%{opacity: 0.75;}
  100%{opacity : 1}
}

@-webkit-keyframes fadeIn {
  0%{opacity: 0;}
  25%{opacity: 0.25;}
  50%{opacity: 0.5;}
  75%{opacity: 0.75;}
  100%{opacity : 1}
}

.img1 {
  margin: 20px 100px;
  overflow: hidden;
  text-align: center;
  position: relative;
  width:280px;
}

.playerImage
{
  position: relative;
  top: 40%;
  left: 10%;
  width: 220px;
  height: 285px;
}

.playerPortfolio
{
  width: 880px;
  height : 1000px;
}
footer
{
  height:100px;
  text-align: right;
  background: #000813;
  background: -webkit-linear-gradient(-60deg, #0535A7, #000813);
  background: -o-linear-gradient(-60deg, #0535A7, #000813);
  background: -moz-linear-gradient(-60deg, #0535A7, #000813);
  background: linear-gradient(-60deg, #0535A7, #000813);
}
footer li{
  list-style: none;
  display: inline;
  width :30px;
  position: relative;
  padding: 5px 5px;
}
footer li img{
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px 5px;
}
