body{
  background-image: url("../img/site_background.jpg");
  background-repeat: repeat-y;
}
nav a , footer ul li a{
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-family: sans-serif;
  color: white;
}
aside{
  float: left;
}

/* Navigation Bar Animation*/
nav a:hover{
  color: darkblue;
}
nav a:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
}
nav a:hover:after ,  footer ul li a:hover:after{
  width: 80%;
  background: red;
  box-shadow: 0px -5px 30px 20px white;
  transition: 0.5s ease;
  background-color: .5s ease;
}


section{
  position: relative;
  margin: 10px 10px;
  padding: 10px 10px;
  transition: 0.5s ease;
}

section a header , section a h1 , h2 , div header h1,div p{
  margin: 5px 5px;
  align-items: center;
  line-height: 150%;
  letter-spacing: 150%;
}

div header h1,div p{
  margin : 15px 10px;
}
section a p {
  margin: 10px 10px;
}
section a{
  text-decoration: none;
}
section:hover a header,section:hover a p ,section:hover a h1 , section:hover a h2{
  color: white;
}
/* to avoid colour change of section contents */
section a:visited{
  color: darkblue;
  text-decoration: none;
}
header h3{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer
{
  height:100px;
  text-align: right;
  background: #000813;
  background: -webkit-linear-gradient(-60deg, #0535A7, #000813); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-60deg, #0535A7, #000813); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-60deg, #0535A7, #000813); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #0535A7, #000813); /* Standard syntax */
}
footer ul li{
  list-style: none;
  display: inline;
  width :30px;
  position: relative;
  padding: 5px 5px;
}
footer ul li img{
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px 5px;
}
#navigation_menu{
  position: relative;
  top : 10px;
  right :5px;
  padding: 0px;
  display: block;
  width: 100%;
  text-align: right;
  background: #000813;
  background: -webkit-linear-gradient(-60deg, #0535A7, #000813); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-60deg, #0535A7, #000813);  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-60deg, #0535A7, #000813); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #0535A7, #000813);  /* Standard syntax */
}

/* Hero Unit Animation */
#hero_text{
  z-index:100;
  position:absolute;
  color:white;
  font-size:24px;
  font-weight:bold;
  left:20%;
  top:80%;
  margin-right: auto;
  margin-bottom: : auto;
  align-items: center;
  font-family: "Precious";
  font-size: 50px;
  color: darkblue;
  text-shadow: 20px 10px 10px black;
  -webkit-animation : fadeIn 4s infinite;
  -webkit-animation-direction : alternate;
  animation : fadeIn 4s infinite;
  animation-direction : alternate;
}

@font-face {
  font-family: "Precious";
  src: url("../fonts/Precious.ttf");
}

@keyframes fadeIn {
  0%{opacity: 0;}
  25%{opacity: 0.25;}
  50%{opacity: 0.5;}
  75%{opacity: 0.75;}
  100%{opacity : 1}
}

@-webkit-keyframes fadeIn {
  0%{opacity: 0;}
  25%{opacity: 0.25;}
  50%{opacity: 0.5;}
  75%{opacity: 0.75;}
  100%{opacity : 1}
}

.img1 {
  margin: 20px 100px;
  overflow: hidden;
  text-align: center;
  position: relative;
  width:280px;
}

.playerImage
{
  position: relative;
  top: 30%;
  left: 0px;
  width: 150px;
  height: 285px;
}

.playerPortfolio
{
  width: 880px;
  height : 1000px;
}

.content_img{
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  object-fit: fill;
}
.main_content{
  position: relative;
  top : 6px;
  right :0px;
  padding: 0px;
  margin: 12px 10px;
  background-color: white;
}
.playerTitle
{
  position: relative;
  margin: 5px 5px;
  color: white;
}
.content_img{
  width: 100%;
}
.hover_highlight:hover{
  background: darkblue;
  color: white;
  transition: 0.5s ease;
}
.clickableparagraph{
    margin-top: 30px;
    margin-bottom: auto;
}
.hero_unit_img{
  height: 500px;
}
