  body{
    background-image: url("../img/site_background.jpg");
    background-repeat: repeat-y;
  }
  .logo_container{
    width: 100%;
  }
  #navigation_menu{
    position: relative;
    top : 10px;
    right :5px;
    padding: 0px;
    display: block;
    width: 100%;
    text-align: right;
    background: #000813;
    background: -webkit-linear-gradient(-60deg, #0535A7, #000813);
    background: -o-linear-gradient(-60deg, #0535A7, #000813);
    background: -moz-linear-gradient(-60deg, #0535A7, #000813);
    background: linear-gradient(-60deg, #0535A7, #000813);
  }
  nav a{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    color: white;
  }
  nav a:hover{
    text-decoration: none;
    color: #80e1ff;
  }
  nav a:after{
  	content: '';
  	display: block;
  	margin: auto;
  	height: 1px;
  	width: 0px;
  }
  nav a:hover:after{
  	width: 100%;
  	background: red;
    color: blue;
    transition: 0.5s ease;
    background-color .5s ease;
  }
  .main_content{
    position: relative;
    top : 6px;
    right :0px;
    padding: 0px;
    word-wrap: break-word;
    margin: 12px 10px;
    background-color: white;
  }
  section
  {
    padding: 10px 10px;
    transition: 0.5s ease;
  }
  section a p , section a h1 , section a h2 {
      margin: 5px 10px;
      line-height: 200%
  }
  section a{
    text-decoration: none;
  }
  section:hover{
    background: darkblue;
    color: white;
    transition: 0.5s ease;
  }
  section:hover a header,section:hover a p{
    color: white;
  }
  .content_img{
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    object-fit: fill;
  }
  section a:visited /* to avoid colour change of section contents */
  {
    color: darkblue;
    text-decoration: none;
  }

 #hero_text{
      z-index:100;
      position:absolute;
      color:white;
      font-size:24px;
      font-weight:bold;
      left:20%;
      top:560px;
      margin-right: auto;
      margin-bottom: : auto;
      align-items: center;
      font-family: "Precious";
      font-size: 50px;
      color: darkblue;
      text-shadow: 20px 10px 10px black;
      -webkit-animation : fadeIn 4s infinite;
      -webkit-animation-direction : alternate;
      animation : fadeIn 4s infinite;
      animation-direction : alternate;
  }

  @font-face {
    font-family: "Precious";
    src: url("../fonts/Precious.ttf");
  }

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity : 1
  }
}

  @-webkit-keyframes fadeIn {
    0%{
      opacity: 0;
    }
    25%{
      opacity: 0.25;
    }
    50%{
      opacity: 0.5;
    }
    75%{
      opacity: 0.75;
    }
    100%{
      opacity : 1
    }
}


   #show {
			width: 420px;
			position: relative;
			height: 370px;
      margin: 0px 10px;
		}

    #show .slide {
    			position: absolute;
    		  margin: 5px 10px;
    			width: 400;
    			overflow: hidden;
          height: 350;
    			text-align: center;
          object-fit: fill;
    		}

	.img1 {
    margin: 5px 10px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    width:100%;
    animation: img1 40s infinite;
    -o-animation: img1 40s infinite;
    -moz-animation: img1 40s infinite;
    -webkit-animation: img1 40s infinite;
    background-size: cover;
    z-index: 999;
	}

  .img2 {
    position: absolute;
    margin: 5px 10px;
    overflow: hidden;
    text-align: center;
    animation: img2 40s infinite;
    -o-animation: img2 40s infinite;
    -moz-animation: img2 40s infinite;
    -webkit-animation: img2 40s infinite;
    background-size: cover;
	}
  .img3 {
    position: absolute;
    margin: 5px 10px;
    overflow: hidden;
    text-align: center;
    animation: img3 40s infinite;
    -o-animation: img3 40s infinite;
    -moz-animation: img3 40s infinite;
    -webkit-animation: img3 40s infinite;
    background-size: cover;
	}

@-webkit-keyframes img1 {
  0% {opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 0;}
}

@keyframes img1 {
  0% {opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 0;}
}

@-moz-keyframes img1 {
  0% {opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 0;}
}
@-webkit-keyframes img2 {
  0% {opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes img2 {
  0% {opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

@-moz-keyframes img2 {
  0% {opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

@-webkit-keyframes img3 {
  0% {opacity: 0;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes img3 {
  0% {opacity: 0;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes img3 {
0% {opacity: 0;}
50%{opacity: 0;}
100%{opacity: 1;}
}
