body{
  background-image: url("../img/site_background.jpg");
  color: white;
  background-size: cover;
}
/*scroll bar*/
#heading{
  color: white;
  text-align:center;;
}
body::-webkit-scrollbar {
  width: .5em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0,0,0);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(1,35,72);
  outline: 1px solid rgb(1,35,72);
}
.tabbable ul li a{
  text-decoration: none;
}
.tabbable ul li{
  display: inline-block;
  list-style: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus , .nav-tabs > li > a:hover{
  background-color: orange !important;
}
.tabbable{
margin-top:20px;
}


/*Bar color*/
.oilSeedBar {
  fill: orange;
}

.nav-tabs > li > a{
  color: white
}
/*Axis color*/
.axis {
  font: 7px;
  letter-spacing: -1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: none;
}

text{
  font-family: sans-serif;
  fill: white;
}
.line {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}

.d3-tip {
  font-weight: bold;
  padding:6;
  color: white;
  border-radius: 2px;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  left: 0;
}
